[submodule "classicslive-integration"]
  path = classicslive-integration
  url = https://github.com/classicslive/classicslive-integration
[submodule "libretro-common"]
	path = libretro-common
	url = http://github.com/libretro/libretro-common
